body {
  background: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 300px;
}

.search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.search button {
  width: 70px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f1f1f1;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.weatherDisplay {
  display: flex;
  border: 1px solid lightblue;
  border-radius: 20px;
  height: 300px;
  width: 600px;
  margin: auto;
  margin-top: 50px;
  background-color: lightblue;
  opacity: 80%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#displayHeader {
  color: white;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px dotted white;
  margin-top: 0;
  margin-bottom: 0;
}

#currentTemp {
  margin-bottom: 0;
}

#feelsLike {
  margin-top: 0;
}

.containers {
  display: flex;
  justify-content: space-around;
}

.container {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
